In [30]:
import pandas as pd
from datetime import datetime, timedelta
import requests
from io import StringIO
from bs4 import BeautifulSoup
from lxml import html

In [31]:
base_url = "https://www.carone.com.ar"

## ETL de los links de usados y 0km

### usando https://www.carone.com.ar/categoria-producto/0km/ para obtener la lista de autos 0km

In [32]:
okm_model_links = []

i = 0
while True:
    res = requests.get(f"{base_url}/categoria-producto/0km/page/{i+1}/")
    print(f"{base_url}/categoria-producto/0km/page/{i+1}/")
    if res.status_code != 200:
        break

    soup = BeautifulSoup(res.text, "html.parser")
    tree = html.fromstring(res.content)
    div_col_12_elements = tree.xpath('//div[contains(@class, "col-12")]')
    okm_page_links = [div.xpath('.//a/@href') for div in div_col_12_elements]
    okm_linkss = set([link[0] for link in okm_page_links if link != []])

    i += 1

    for link in okm_linkss:
#       print({'type': '0km','link_web': link})
      model_dict = {
          'type': '0km',
          'link_web': link
      }
      okm_model_links.append(model_dict)

https://www.carone.com.ar/categoria-producto/0km/page/1/
https://www.carone.com.ar/categoria-producto/0km/page/2/
https://www.carone.com.ar/categoria-producto/0km/page/3/
https://www.carone.com.ar/categoria-producto/0km/page/4/
https://www.carone.com.ar/categoria-producto/0km/page/5/
https://www.carone.com.ar/categoria-producto/0km/page/6/
https://www.carone.com.ar/categoria-producto/0km/page/7/
https://www.carone.com.ar/categoria-producto/0km/page/8/
https://www.carone.com.ar/categoria-producto/0km/page/9/
https://www.carone.com.ar/categoria-producto/0km/page/10/
https://www.carone.com.ar/categoria-producto/0km/page/11/
https://www.carone.com.ar/categoria-producto/0km/page/12/
https://www.carone.com.ar/categoria-producto/0km/page/13/
https://www.carone.com.ar/categoria-producto/0km/page/14/
https://www.carone.com.ar/categoria-producto/0km/page/15/
https://www.carone.com.ar/categoria-producto/0km/page/16/
https://www.carone.com.ar/categoria-producto/0km/page/17/
https://www.carone.com.ar/categoria-producto/0km/page/18/
https://www.carone.com.ar/categoria-producto/0km/page/19/
https://www.carone.com.ar/categoria-producto/0km/page/20/

### obtenemos los links para cada modelo 0km y los almacenamos en un dataframe

In [33]:
df_okm_model_links = pd.DataFrame(okm_model_links)
df_okm_model_links

    type                                           link_web
0    0km  https://www.carone.com.ar/producto/alaskan-0km...
1    0km  https://www.carone.com.ar/producto/alaskan-out...
2    0km  https://www.carone.com.ar/producto/renault-0km...
3    0km  https://www.carone.com.ar/producto/alaskan-0km...
4    0km  https://www.carone.com.ar/producto/alaskan-0km...
..   ...                                                ...
222  0km  https://www.carone.com.ar/producto/cronos-driv...
223  0km  https://www.carone.com.ar/producto/cronos-driv...
224  0km  https://www.carone.com.ar/producto/cronos-driv...
225  0km  https://www.carone.com.ar/producto/pulse-impetus/
226  0km  https://www.carone.com.ar/producto/cronos-driv...

[227 rows x 2 columns]

### usando https://www.carone.com.ar/categoria-producto/usados/ para obtener la lista de autos usados

In [34]:
used_model_links = []

i = 0
while True:
    res = requests.get(f"{base_url}/categoria-producto/usados/page/{i+1}/")
    print(f"{base_url}/categoria-producto/usados/page/{i+1}/")
    if res.status_code != 200:
        break

    soup = BeautifulSoup(res.text, "html.parser")
    tree = html.fromstring(res.content)
    div_col_12_elements = tree.xpath('//div[contains(@class, "col-12")]')
    used_page_links = [div.xpath('.//a/@href') for div in div_col_12_elements]
    used_linkss = set([link[0] for link in used_page_links if link != []])

    i += 1

    for link in used_linkss:
#       print({'type': 'usados','link_web': link})
      model_dict = {
          'type': 'usados',
          'link_web': link
      }
      used_model_links.append(model_dict)

https://www.carone.com.ar/categoria-producto/usados/page/1/
https://www.carone.com.ar/categoria-producto/usados/page/2/
https://www.carone.com.ar/categoria-producto/usados/page/3/
https://www.carone.com.ar/categoria-producto/usados/page/4/
https://www.carone.com.ar/categoria-producto/usados/page/5/
https://www.carone.com.ar/categoria-producto/usados/page/6/
https://www.carone.com.ar/categoria-producto/usados/page/7/
https://www.carone.com.ar/categoria-producto/usados/page/8/
https://www.carone.com.ar/categoria-producto/usados/page/9/
https://www.carone.com.ar/categoria-producto/usados/page/10/
https://www.carone.com.ar/categoria-producto/usados/page/11/
https://www.carone.com.ar/categoria-producto/usados/page/12/
https://www.carone.com.ar/categoria-producto/usados/page/13/
https://www.carone.com.ar/categoria-producto/usados/page/14/
https://www.carone.com.ar/categoria-producto/usados/page/15/
https://www.carone.com.ar/categoria-producto/usados/page/16/
https://www.carone.com.ar/categoria-producto/usados/page/17/
https://www.carone.com.ar/categoria-producto/usados/page/18/
https://www.carone.com.ar/categoria-producto/usados/page/19/
https://www.carone.com.ar/categoria-producto/usados/page/20/
https://www.carone.com.ar/categoria-producto/usados/page/21/
https://www.carone.com.ar/categoria-producto/usados/page/22/
https://www.carone.com.ar/categoria-producto/usados/page/23/
https://www.carone.com.ar/categoria-producto/usados/page/24/

### obtenemos los links para cada modelo usado y los almacenamos en un dataframe

In [35]:
df_used_model_links = pd.DataFrame(used_model_links)
df_used_model_links

       type                                           link_web
0    usados  https://www.carone.com.ar/producto/volkswagen-...
1    usados  https://www.carone.com.ar/producto/volkswagen-...
2    usados  https://www.carone.com.ar/producto/chery-qq-5-...
3    usados  https://www.carone.com.ar/producto/lifan-x50-1...
4    usados  https://www.carone.com.ar/producto/volkswagen-...
..      ...                                                ...
268  usados  https://www.carone.com.ar/producto/audi-q5-3-0...
269  usados  https://www.carone.com.ar/producto/volkswagen-...
270  usados  https://www.carone.com.ar/producto/chevrolet-2...
271  usados  https://www.carone.com.ar/producto/toyota-hilu...
272  usados  https://www.carone.com.ar/producto/ford-bronco...

[273 rows x 2 columns]

In [36]:
df_model_links = pd.concat([df_okm_model_links, df_used_model_links], ignore_index=True)
df_model_links

       type                                           link_web
0       0km  https://www.carone.com.ar/producto/alaskan-0km...
1       0km  https://www.carone.com.ar/producto/alaskan-out...
2       0km  https://www.carone.com.ar/producto/renault-0km...
3       0km  https://www.carone.com.ar/producto/alaskan-0km...
4       0km  https://www.carone.com.ar/producto/alaskan-0km...
..      ...                                                ...
495  usados  https://www.carone.com.ar/producto/audi-q5-3-0...
496  usados  https://www.carone.com.ar/producto/volkswagen-...
497  usados  https://www.carone.com.ar/producto/chevrolet-2...
498  usados  https://www.carone.com.ar/producto/toyota-hilu...
499  usados  https://www.carone.com.ar/producto/ford-bronco...

[500 rows x 2 columns]

In [37]:
df_model_links.to_csv('../CSV/df_carone_model_links.csv', index=False)

### leemos el CSV "df_carone_model_links.csv" que contiene links de 0km y usados

In [38]:
df_all_model_links = pd.read_csv('../CSV/df_carone_model_links.csv')
df_all_model_links

       type                                           link_web
0       0km  https://www.carone.com.ar/producto/alaskan-0km...
1       0km  https://www.carone.com.ar/producto/alaskan-out...
2       0km  https://www.carone.com.ar/producto/renault-0km...
3       0km  https://www.carone.com.ar/producto/alaskan-0km...
4       0km  https://www.carone.com.ar/producto/alaskan-0km...
..      ...                                                ...
495  usados  https://www.carone.com.ar/producto/audi-q5-3-0...
496  usados  https://www.carone.com.ar/producto/volkswagen-...
497  usados  https://www.carone.com.ar/producto/chevrolet-2...
498  usados  https://www.carone.com.ar/producto/toyota-hilu...
499  usados  https://www.carone.com.ar/producto/ford-bronco...

[500 rows x 2 columns]

### traemos solo los links de 0km

In [39]:
df_okm_links = df_all_model_links[df_all_model_links['type'] == '0km']
df_okm_links

    type                                           link_web
0    0km  https://www.carone.com.ar/producto/alaskan-0km...
1    0km  https://www.carone.com.ar/producto/alaskan-out...
2    0km  https://www.carone.com.ar/producto/renault-0km...
3    0km  https://www.carone.com.ar/producto/alaskan-0km...
4    0km  https://www.carone.com.ar/producto/alaskan-0km...
..   ...                                                ...
222  0km  https://www.carone.com.ar/producto/cronos-driv...
223  0km  https://www.carone.com.ar/producto/cronos-driv...
224  0km  https://www.carone.com.ar/producto/cronos-driv...
225  0km  https://www.carone.com.ar/producto/pulse-impetus/
226  0km  https://www.carone.com.ar/producto/cronos-driv...

[227 rows x 2 columns]

### luego realizamos una peticion get por cada url de 0km, y obtenemos los datos de cada modelo 0km

In [40]:
okm_models_description = []
# okm_links = [url['link_web'] for url in okm_model_links if url['type'] == '0km']

for link in list(df_okm_links['link_web']):
    res = requests.get(link)
    soup = BeautifulSoup(res.text, "html.parser")
    tree = html.fromstring(res.content)
    model_name = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/h1/text()')
    # print(model_name[0].replace("\n"))
    model_version = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/span/text()')
    # print(model_version)
    model_features = tree.xpath('//ul[@class="box-table-ficha-tecnica"]/li/text()')
    model_price = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/p[2]/span/bdi/text()')
    #   print({'Modelo': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Precio': model_price, 'url': link})
    #   okm_models_description.append({'Modelo': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Precio': model_price})
    if model_price == []:
    #     print({'model_features': model_features})
    #     print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price})
        okm_models_description.append({'Model': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Price': "Nan"})
    elif model_price != []:
    #     print({'model_features': model_features})
    #     print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price})
        okm_models_description.append({'Model': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Price': model_price[0]})

{'model_name': 'Renault Alaskan', 'model_version': 'Emotion Mt 4x2', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'NUEVA SERIE LIMITADA Outsider ', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'Confort Mt 4x2', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'Iconic At 4x4', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'Intens Mt 4x4', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'Emotion Mt 4x4', 'model_price': []}
{'model_name': 'Volkswagen Tiguan Allspace', 'model_version': 'Life 350TSI', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'Intens Mt 4x2', 'model_price': []}
{'model_name': 'Peugeot 3008', 'model_version': 'GT Pack AM23.5', 'model_price': []}
{'model_name': 'Peugeot 2008', 'model_version': 'Feline 1.6', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'Confort Mt 4x4', 'model_price': []}
{'model_name': 'Renault Alaskan', 'model_version': 'Iconic 4x4 Mt', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Active Tiptronic 1.6L AM23.5', 'model_price': []}
{'model_name': 'Peugeot 3008', 'model_version': 'Gt Pack HYBRID4 AM22', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Active 1.6L AM23', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Active 1.6L AM23.5', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Roadtrip AT AM24', 'model_price': []}
{'model_name': 'Peugeot 2008', 'model_version': 'Feline 1.6 Tiptronic', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Active Tiptronic 1.6L AM23', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Roadtrip AM24', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Style 1.6L', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Active Pack 1.6L AM23.5', 'model_price': []}
{'model_name': 'Peugeot 2008', 'model_version': 'Sport 1.6 Thp Tiptronic', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Active Pack 1.6L Tiptronic AM23.5', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Allure 1.6L AM23', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Feline 1.6L Tiptronic AM23.5', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Allure Pack 1.6L AM23.5', 'model_price': []}
{'model_name': 'Peugeot 3008', 'model_version': 'Allure Pack AM23', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Style Tiptronic 1.6L', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'New Like 1.2L AM23.5', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Allure 1.6L AM23.5', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Allure Tiptronic 1.6L AM23', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Allure Pack 1.6L Tiptronic AM23.5', 'model_price': []}
{'model_name': 'Peugeot 3008', 'model_version': 'GT Pack THP Tiptronic AM23', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Allure Tiptronic 1.6L AM23.5', 'model_price': []}
{'model_name': 'Peugeot 208', 'model_version': 'Feline 1.6L Tiptronic AM23', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Highline 4x4', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'DC 3.0L TDI 258 CV Comfortline V6 4x4 AUT', 'model_price': ['19.239.850']}
{'model_name': 'Peugeot 5008', 'model_version': 'GT Pack AM23.5', 'model_price': []}
{'model_name': 'Volkswagen Nueva Amarok', 'model_version': 'DC 2.0L TDI 180 CV Highline 4x4 AUT', 'model_price': ['20.898.816']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Highline 4x2', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Comfortline 4x2', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Highline 4x2 Aut', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'DC 3.0L TDI 258 CV V6 Extreme 4x4 AUT', 'model_price': ['25.537.200']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Comfortline 4x2 Aut', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'DC 3.0L TDI 258 CV V6 Extreme 4x4 AUT', 'model_price': ['25.537.200']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Comfortline 4x4', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'DC 3.0L TDI 258 CV Comfortline V6 4x4 AUT', 'model_price': ['19.239.850']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'V6 Highline 4x4 Aut 258Cv', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'HIGHLINE V6 3.0L 258 CV', 'model_price': ['23.388.533']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Trendline 4x2', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'V6 Extreme 4x4 Aut 258Cv', 'model_price': []}
{'model_name': 'Volkswagen Nueva Amarok', 'model_version': 'DC 2.0L TDI 180 CV Highline 4x4 AUT', 'model_price': ['20.898.816']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Trendline 4x4', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'V6 Black Style 4x4 Aut 258Cv', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'HIGHLINE V6 3.0L 258 CV', 'model_price': ['23.388.533']}
{'model_name': 'Volkswagen Nueva Amarok', 'model_version': 'DC 2.0L TDI 180 CV Highline 4x4 AUT', 'model_price': ['20.898.816']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CD 2.0 Tdi Highline 4x4 Aut', 'model_price': []}
{'model_name': 'Volkswagen Amarok', 'model_version': 'Trendline 4x2 2.0L TDI 140 CV', 'model_price': ['12.470.417']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'Comfortline V6 3.0 Tdi 4x4 Aut 258Cv', 'model_price': []}
{'model_name': 'Changan CS15', 'model_version': 'Luxury Dct', 'model_price': []}
{'model_name': 'Mitsubishi L200', 'model_version': '2.4L Gls 6At Full', 'model_price': []}
{'model_name': 'Changan CS15', 'model_version': 'Comfort Dct', 'model_price': []}
{'model_name': 'Haval H1', 'model_version': 'Luxury My2019', 'model_price': []}
{'model_name': 'Changan M', 'model_version': '201 Cargo Van', 'model_price': []}
{'model_name': 'Mitsubishi L200', 'model_version': '2.4L Gls 6Mt Full', 'model_price': []}
{'model_name': 'Haval H1', 'model_version': 'Comfort My2019', 'model_price': []}
{'model_name': 'Changan CS15', 'model_version': 'Comfort Mt', 'model_price': []}
{'model_name': 'Haval H2', 'model_version': 'Comfort Mt My2019', 'model_price': []}
{'model_name': 'Haval H1', 'model_version': 'Elite My2019', 'model_price': []}
{'model_name': 'Changan MD', 'model_version': '201 Cargo Box', 'model_price': []}
{'model_name': 'Changan MD', 'model_version': '201 Pick Up', 'model_price': []}
{'model_name': 'Peugeot Boxer', 'model_version': 'Premium 2.2 HDI 440 L3 CH 130 CHASIS CABINA', 'model_price': []}
{'model_name': 'Peugeot Boxer', 'model_version': 'Boxer Premium 2.2HDI 440 L4H2 130 MINI-BUS 17+1', 'model_price': []}
{'model_name': 'Great Wall Wingle 5', 'model_version': 'Cabina Simple Standard 4x2 My2019', 'model_price': []}
{'model_name': 'Peugeot Boxer', 'model_version': 'Boxer Premium 2.2 HDI 440 L3 CHASIS 130', 'model_price': []}
{'model_name': 'Great Wall Wingle 5', 'model_version': 'Cabina Doble Standard 4x4 My2019', 'model_price': []}
{'model_name': 'Peugeot Boxer', 'model_version': 'Boxer Premium 2.2 HDI 435MH 130', 'model_price': []}
{'model_name': 'Peugeot Boxer', 'model_version': 'Premium 2.2HDI 440 L4H2 130 MINI-BUS 17+1', 'model_price': []}
{'model_name': 'Great Wall Wingle 5', 'model_version': 'Cabina Doble Luxury 4x2 My2019', 'model_price': []}
{'model_name': 'Peugeot Boxer', 'model_version': 'Boxer Premium 2.2 HDI 435 M', 'model_price': []}
{'model_name': 'Peugeot Boxer', 'model_version': 'Boxer Premium 2.2 HDI 435LH 130', 'model_price': []}
{'model_name': 'Great Wall Wingle 6', 'model_version': 'Dignity 4x4 My2019', 'model_price': []}
{'model_name': 'Great Wall Wingle 5', 'model_version': 'Cabina Doble Standard 4x2 My2019', 'model_price': []}

{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1.4 Turbo Lt Mt S/Onstar', 'model_price': []}
{'model_name': 'Renault Oroch', 'model_version': 'Emotion 1.6 SCe 114 2WD', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1.4 Turbo Premier Ii At', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1.4 Turbo Lt Mt', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 Turbo Lt AT', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 Turbo Premier Ii At', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 Turbo Ltz+ At', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1.4 Turbo Lt AT', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1.4 Turbo RS AT', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 Turbo Lt Mt S/Onstar', 'model_price': []}
{'model_name': 'Renault Nuevo Duster', 'model_version': 'Iconic 1.3T Cvt 4x2', 'model_price': []}
{'model_name': 'Chevrolet Cruze', 'model_version': 'CRUZE 4P 1.4T MIDNIGHT AT', 'model_price': []}
{'model_name': 'Chevrolet Equinox', 'model_version': '1.5T RS FWD AT', 'model_price': []}
{'model_name': 'Fiat Fiorino', 'model_version': 'Furgón Pack Top', 'model_price': []}
{'model_name': 'Renault Nuevo Duster', 'model_version': 'Zen 1.6', 'model_price': []}
{'model_name': 'Renault Nuevo Duster', 'model_version': 'Intens 1.6 Cvt', 'model_price': []}
{'model_name': 'Renault Nuevo Duster', 'model_version': 'Outsider 1.3T Cvt', 'model_price': []}
{'model_name': 'Peugeot Expert', 'model_version': 'Premium 1.6 Hdi', 'model_price': []}
{'model_name': 'Peugeot Expert', 'model_version': 'Premium 1.6 Hdi 6 Pasajeros', 'model_price': []}
{'model_name': 'Renault Oroch', 'model_version': 'Outsider 1.3 TCe 163 4WD', 'model_price': []}
{'model_name': 'Renault Oroch', 'model_version': 'Iconic 1.3 TCe 163 CVT 2WD', 'model_price': []}
{'model_name': 'Chevrolet Equinox', 'model_version': '1.5T PREMIER AWD AT', 'model_price': []}
{'model_name': 'Renault Nuevo Duster', 'model_version': 'Intens 1.6 Mt ', 'model_price': []}
{'model_name': 'Renault Nuevo Duster', 'model_version': 'Iconic 1.3T Mt 4x4', 'model_price': []}
{'model_name': 'Renault Kangoo', 'model_version': 'Stepway 1.6', 'model_price': []}
{'model_name': 'Renault Kangoo Express', 'model_version': 'Confort 5 Asientos 1.6', 'model_price': []}
{'model_name': 'Renault Kangoo', 'model_version': 'Stepway 1.5 Dci', 'model_price': []}
{'model_name': 'Renault Kangoo Express', 'model_version': 'Confort 5 Asientos 1.5 Dci', 'model_price': []}
{'model_name': 'Chevrolet Joy', 'model_version': '1.4 N MT BLACK', 'model_price': []}
{'model_name': 'Renault Kangoo Express', 'model_version': 'Confort 1.5 Dci', 'model_price': []}
{'model_name': 'Renault Kangoo', 'model_version': 'Zen', 'model_price': []}
{'model_name': 'Chevrolet Joy', 'model_version': '1.4 N MT', 'model_price': []}
{'model_name': 'Chevrolet Joy Plus', 'model_version': '1.4 N MT BLACK', 'model_price': []}
{'model_name': 'Renault Kangoo', 'model_version': 'Life', 'model_price': []}
{'model_name': 'Renault Kangoo Express', 'model_version': 'Confort 1.6', 'model_price': []}
{'model_name': 'Chevrolet JOY Plus 1.4 N MT', 'model_version': '1.4', 'model_price': []}
{'model_name': 'Renault Kangoo Express', 'model_version': 'Emotion 5 Asientos 1.6', 'model_price': []}
{'model_name': 'Renault Kangoo Express', 'model_version': 'Emotion 1.6', 'model_price': []}
{'model_name': 'Renault Logan', 'model_version': 'Life', 'model_price': []}
{'model_name': 'Volkswagen Nivus', 'model_version': 'Hero 200 Tsi At', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2 Lt', 'model_price': []}
{'model_name': 'Fiat Mobi', 'model_version': 'Like', 'model_price': []}
{'model_name': 'Volkswagen Nivus', 'model_version': 'Comfortline 200 Tsi At', 'model_price': []}
{'model_name': 'Renault Koleos', 'model_version': 'Intens 2.5 4Wd Cvt', 'model_price': []}
{'model_name': 'Volkswagen Nivus', 'model_version': 'Highline 200 Tsi At', 'model_price': []}
{'model_name': 'Renault Logan', 'model_version': 'Intens', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2', 'model_price': []}
{'model_name': 'Renault Logan', 'model_version': 'Zen', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2 Lt Tech', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': '1Rs 1.0 T', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2 Lt Tech C/Onstar', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': '1.0T Premier I Mt', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': '1.2 Lt Tech', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': '1.0T Premier Ii At', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': 'Ltz 1.0 T Mt', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': '1.2 Lt', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': '1.2', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': '1.0T Premier I Mt', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': '1.0T Premier Ii At', 'model_price': []}
{'model_name': 'Chevrolet Onix', 'model_version': 'Ltz 1.0 T At', 'model_price': []}
{'model_name': 'Peugeot Partner', 'model_version': 'Patagonica VTC Plus 1.6 115 AM22.5', 'model_price': []}
{'model_name': 'Peugeot Partner', 'model_version': 'Patagonica VTC Plus 1.6 HDI 92 AM22.5', 'model_price': []}
{'model_name': 'Peugeot Partner', 'model_version': 'Confort 1.6 115 AM22.5', 'model_price': []}
{'model_name': 'Volkswagen Polo', 'model_version': 'Gts 1.4 At', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 4x2 Ls', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': 'Ltz 1.0 T Mt', 'model_price': []}
{'model_name': 'Volkswagen Polo', 'model_version': 'Trendline 1.6', 'model_price': []}
{'model_name': 'Volkswagen Polo', 'model_version': 'Highline 1.6 At', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': '1.2 Lt Tech C/Onstar', 'model_price': []}
{'model_name': 'Chevrolet Onix Plus', 'model_version': 'Ltz 1.0 T At', 'model_price': []}
{'model_name': 'Peugeot Partner', 'model_version': 'Confort 1.6 HDI 92 AM22.5', 'model_price': []}
{'model_name': 'Volkswagen Polo', 'model_version': 'Trendline At 1.6', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 4x2 Lt', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 2.8 TD 4X2 LTZ MT', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 4x4 Lt At', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 2.8 4x4 Z71 AT', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 4x4 Lt', 'model_price': []}
{'model_name': 'Renault Sandero', 'model_version': 'Gt Line', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 2.8 TD 4X4 LTZ AT', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 2.8 TD 4X2 LT MT', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'CD 2.8 TD 4X4 HC AT ', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'CD 2.8 TD 4X4 LT AT', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 2.8 TD 4X4 LT MT', 'model_price': []}
{'model_name': 'Chevrolet S10', 'model_version': 'Cabina Doble 4x4 High Country At', 'model_price': []}
{'model_name': 'Renault Sandero', 'model_version': 'Gt Line Cvt', 'model_price': []}
{'model_name': 'Renault Sandero', 'model_version': 'Intens', 'model_price': []}
{'model_name': 'Volkswagen Saveiro', 'model_version': 'Cabina Simple - Trendline', 'model_price': []}
{'model_name': 'Volkswagen Saveiro', 'model_version': 'Cabina Doble Highline', 'model_price': []}
{'model_name': 'Volkswagen Saveiro', 'model_version': 'Cabina Doble Cross', 'model_price': []}
{'model_name': 'Renault Stepway', 'model_version': 'Intens Cvt', 'model_price': []}

{'model_name': 'Volkswagen Saveiro', 'model_version': 'Cabina Doble Comfortline', 'model_price': []}
{'model_name': 'Renault Stepway', 'model_version': 'Intens', 'model_price': []}
{'model_name': 'Renault Sandero', 'model_version': 'Intens Cvt', 'model_price': []}
{'model_name': 'Renault Sandero', 'model_version': 'Rs', 'model_price': []}
{'model_name': 'Renault Sandero', 'model_version': 'Zen', 'model_price': []}
{'model_name': 'Renault Sandero', 'model_version': 'Life', 'model_price': []}
{'model_name': 'Volkswagen Taos', 'model_version': 'Highline 250 Tsi', 'model_price': []}
{'model_name': 'Renault Stepway', 'model_version': 'Zen', 'model_price': []}
{'model_name': 'Fiat Strada', 'model_version': 'Endurance 1.4 Cabina Doble', 'model_price': []}
{'model_name': 'Volkswagen T-Cross', 'model_version': 'Comfortline At', 'model_price': []}
{'model_name': 'Volkswagen T-Cross', 'model_version': 'Highline At', 'model_price': []}
{'model_name': 'Volkswagen Taos', 'model_version': 'Comfortline 250 Tsi', 'model_price': []}
{'model_name': 'Fiat Strada', 'model_version': 'Freedom 1.4 Cabina Doble', 'model_price': []}
{'model_name': 'Volkswagen Taos', 'model_version': 'Hero 250 Tsi', 'model_price': []}
{'model_name': 'Fiat Toro', 'model_version': 'Freedom 1.8 16V Nafta Cd 4x2 At6', 'model_price': []}
{'model_name': 'Volkswagen T-Cross', 'model_version': 'Trendline Mt', 'model_price': []}
{'model_name': 'Fiat Strada', 'model_version': 'Volcano 1.3 Cabina Doble', 'model_price': []}
{'model_name': 'Fiat Strada', 'model_version': 'Endurance 1.4 Cabina Simple', 'model_price': []}
{'model_name': 'Fiat Toro', 'model_version': 'Ultra 2.0 16V Multijet Cd 4x4 At9', 'model_price': []}
{'model_name': 'Fiat Toro', 'model_version': 'Freedom 2,0 16V Multiet Cd 4x4 At9', 'model_price': []}
{'model_name': 'Chevrolet Trailblazer', 'model_version': '2.8 4X4 LTZ AT', 'model_price': []}
{'model_name': 'Fiat Toro', 'model_version': 'Volcano 2.0 16V Multijet Cd 4x4 At9', 'model_price': []}
{'model_name': 'Chevrolet Tracker', 'model_version': '1.2T At Ltz', 'model_price': []}
{'model_name': 'Volkswagen Virtus', 'model_version': 'Gts 1.4 At', 'model_price': []}
{'model_name': 'Chevrolet Tracker', 'model_version': '1.2T At', 'model_price': []}
{'model_name': 'Fiat Toro', 'model_version': 'Volcano 1,3T 270 16Vcd 4x2 At6', 'model_price': []}
{'model_name': 'Volkswagen Touareg', 'model_version': '3.0 V6 Tdi Premium', 'model_price': []}
{'model_name': 'Volkswagen Virtus', 'model_version': 'Comfortline Tiptronic', 'model_price': []}
{'model_name': 'Chevrolet Tracker', 'model_version': '1.2T At Premier', 'model_price': []}
{'model_name': 'Volkswagen Vento', 'model_version': 'Highline 250 Tsi At', 'model_price': []}
{'model_name': 'Volkswagen Virtus', 'model_version': 'Trendline Tiptronic', 'model_price': []}
{'model_name': 'Volkswagen Virtus', 'model_version': 'Trendline Manual', 'model_price': []}
{'model_name': 'Fiat Cronos', 'model_version': 'Style 1.3 GSE', 'model_price': ['9.986.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'Drive 1.3 S-Design', 'model_price': []}
{'model_name': 'Fiat Cronos', 'model_version': 'Drive 1.3 Gse Pack Conectividad', 'model_price': []}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 GSE PACK PLUS', 'model_price': ['9.486.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'Style 1.3 GSE', 'model_price': ['9.986.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'Precision 1.8 16V Pack Style', 'model_price': []}
{'model_name': 'Volkswagen Virtus', 'model_version': 'Highline Tiptronic', 'model_price': []}
{'model_name': 'Fiat Cronos', 'model_version': 'PRECISION 1.3 L CVT', 'model_price': ['10.570.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'PRECISION 1.3 L CVT', 'model_price': ['10.570.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'Attractive 1.3', 'model_price': []}
{'model_name': 'Fiat Pulse', 'model_version': 'Drive AT', 'model_price': []}
{'model_name': 'Fiat Pulse', 'model_version': 'Drive MT', 'model_price': []}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 GSE PACK PLUS', 'model_price': ['9.486.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 GSE PACK PLUS', 'model_price': ['9.486.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 GSE PACK PLUS', 'model_price': ['9.486.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 GSE PACK PLUS', 'model_price': ['9.486.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 GSE PACK PLUS', 'model_price': ['9.486.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 L CVT', 'model_price': ['9.790.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 L CVT', 'model_price': ['9.790.000']}
{'model_name': 'Fiat Pulse', 'model_version': 'Impetus', 'model_price': []}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE 1.3 L CVT', 'model_price': ['9.790.000']}

In [41]:
df_okm_models_description = pd.DataFrame(okm_models_description)
df_okm_models_description['type'] = "0km"
df_okm_models_description

               Model                         Version        Price type
0    Renault Alaskan                  Emotion Mt 4x2          Nan  0km
1    Renault Alaskan  NUEVA SERIE LIMITADA Outsider           Nan  0km
2    Renault Alaskan                  Confort Mt 4x2          Nan  0km
3    Renault Alaskan                   Iconic At 4x4          Nan  0km
4    Renault Alaskan                   Intens Mt 4x4          Nan  0km
..               ...                             ...          ...  ...
222      Fiat Cronos         DRIVE 1.3 GSE PACK PLUS  [9.486.000]  0km
223      Fiat Cronos                 DRIVE 1.3 L CVT  [9.790.000]  0km
224      Fiat Cronos                 DRIVE 1.3 L CVT  [9.790.000]  0km
225       Fiat Pulse                         Impetus          Nan  0km
226      Fiat Cronos                 DRIVE 1.3 L CVT  [9.790.000]  0km

[227 rows x 4 columns]

### traemos solo los links de usados

In [42]:
df_usados_links = df_all_model_links[df_all_model_links['type'] == 'usados']
df_usados_links

       type                                           link_web
227  usados  https://www.carone.com.ar/producto/volkswagen-...
228  usados  https://www.carone.com.ar/producto/volkswagen-...
229  usados  https://www.carone.com.ar/producto/chery-qq-5-...
230  usados  https://www.carone.com.ar/producto/lifan-x50-1...
231  usados  https://www.carone.com.ar/producto/volkswagen-...
..      ...                                                ...
495  usados  https://www.carone.com.ar/producto/audi-q5-3-0...
496  usados  https://www.carone.com.ar/producto/volkswagen-...
497  usados  https://www.carone.com.ar/producto/chevrolet-2...
498  usados  https://www.carone.com.ar/producto/toyota-hilu...
499  usados  https://www.carone.com.ar/producto/ford-bronco...

[273 rows x 2 columns]

In [47]:
usados_models_description = []
# okm_links = [url['link_web'] for url in okm_model_links if url['type'] == '0km']

for link in list(df_usados_links['link_web']):
    res = requests.get(link)
    soup = BeautifulSoup(res.text, "html.parser")
    tree = html.fromstring(res.content)
    model_name = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/h1/text()')
    # print(model_name[0].replace("\n"))
    model_version = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/span/text()')
    # print(model_version)
    model_price = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/p[2]/span/bdi/text()')
    
    no_model_price = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/p[2]/del/span/bdi/text()')
    model_price_2 = tree.xpath('/html/body/div[1]/div[4]/div/div/div/div/div[1]/div/div/div/div/div[2]/p[2]/ins/span/bdi/text()')

    if model_price == []:
        #     print({'model_features': model_features})
#         print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price_2})
        usados_models_description.append({'Model': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Price': model_price_2[0]})
    elif model_price != []:
        #     print({'model_features': model_features})
#         print({'model_name': model_name[0].replace("\n", ""), 'model_version': model_version[0].replace("\n", ""), 'model_price': model_price})
        usados_models_description.append({'Model': model_name[0].replace("\n", ""), 'Version': model_version[0].replace("\n", ""), 'Price': model_price[0]})

{'model_name': 'Volkswagen Fox', 'model_version': '1,6 COMFORTLINE 5PTS', 'model_price': ['5.250.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 3 Pts', 'model_price': ['5.650.000']}
{'model_name': 'Chery Qq', 'model_version': '5 PTS CONFORT', 'model_price': ['3.950.000']}
{'model_name': 'Lifan X50', 'model_version': '1.5', 'model_price': ['4.390.000']}
{'model_name': 'Volkswagen Up!', 'model_version': '3PTS HIGH', 'model_price': ['4.490.000']}
{'model_name': 'Chevrolet Aveo', 'model_version': 'LS G3 M/T', 'model_price': ['4.400.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 3 Pts TRENDLINE', 'model_price': ['5.250.000']}
{'model_name': 'Fiat Mobi', 'model_version': 'EASY', 'model_price': ['4.590.000']}
{'model_name': 'Fiat Grand Siena', 'model_version': 'ESSENCE 1.6 16V', 'model_price': ['4.790.000']}
{'model_name': 'Renault Duster_', 'model_version': '1.6 CONFORT PLUS 4X2', 'model_price': ['4.600.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1,6 5PTS S (KD)', 'model_price': ['5.390.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '5P 1.4 LT', 'model_price': ['5.900.000']}
{'model_name': 'Ford Ka', 'model_version': '1.5 S', 'model_price': ['6.600.000']}
{'model_name': 'Peugeot 308', 'model_version': 'ACTIVE 1,6 16V 115 CV', 'model_price': ['6.350.000']}
{'model_name': 'Renault Logan', 'model_version': '1.6 INTENS', 'model_price': ['6.350.000']}
{'model_name': 'Volkswagen Suran', 'model_version': '1.6 5P TRENDLINE', 'model_price': ['6.400.000']}
{'model_name': 'Volkswagen Up!', 'model_version': '3PTS TAKE A/A', 'model_price': ['6.270.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['5.900.000']}
{'model_name': 'Renault Kwid', 'model_version': '1.0 ICONIC', 'model_price': ['6.340.000']}
{'model_name': 'Renault Sandero Ii', 'model_version': '1.6 EXPRESSION', 'model_price': ['6.400.000']}
{'model_name': 'Renault Kwid', 'model_version': '1.0 ZEN', 'model_price': ['6.010.000']}
{'model_name': 'Chevrolet Sonic', 'model_version': '4 PTAS 1.6 LTZ', 'model_price': ['6.000.000']}
{'model_name': 'Citroen C 3', 'model_version': 'PICASSO 1.5I ORIGINE', 'model_price': ['6.010.000']}
{'model_name': 'Peugeot 408', 'model_version': 'ALLURE 2.0 N', 'model_price': ['5.990.000']}
{'model_name': 'Volkswagen Voyage', 'model_version': 'TRENDLINE', 'model_price': ['6.750.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.4 LS JOY', 'model_price': ['6.700.000']}
{'model_name': 'Renault Kwid', 'model_version': '1.0 INTENSE', 'model_price': ['6.820.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.4 LS JOY', 'model_price': ['6.930.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.8 LTZ M/T', 'model_price': ['6.900.000']}
{'model_name': 'Ford Ka', 'model_version': '1.5 S', 'model_price': ['6.700.000']}
{'model_name': 'Ford Ka', 'model_version': '1,5 SE', 'model_price': ['6.880.000']}
{'model_name': 'Volkswagen Suran', 'model_version': '1.6 TRENDLINE L/15', 'model_price': ['6.930.000']}
{'model_name': 'Nissan March', 'model_version': 'ACTIVE PURE DRIVE', 'model_price': ['6.700.000']}
{'model_name': 'Volkswagen Up!', 'model_version': '3PTS TAKE A/A', 'model_price': ['6.820.000']}
{'model_name': 'Volkswagen Up!', 'model_version': '5 PTS CROSS', 'model_price': ['6.820.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5Pts', 'model_price': ['6.930.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LTZ', 'model_price': ['7.070.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.4 JOY PLUS', 'model_price': ['7.100.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 TITANIUM POWER SHIFT 4 PTS (KD)', 'model_price': ['7.000.000']}
{'model_name': 'Nissan Note', 'model_version': '1,6 SENSE PURE DRIVE', 'model_price': ['7.140.000']}
{'model_name': 'Volkswagen Gol', 'model_version': '1.6 5PTS TREND TRENDLINE', 'model_price': ['7.070.000']}
{'model_name': 'Renault Sandero', 'model_version': 'STEPWAY PRIVILEGE', 'model_price': ['7.200.000']}
{'model_name': 'Renault Sandero Ii', 'model_version': '1.6 EXPRESSION', 'model_price': ['7.200.000']}
{'model_name': 'Volkswagen Fox', 'model_version': '1.6 CONNECT 5P', 'model_price': ['7.100.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LS JOY', 'model_price': ['7.070.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['7.140.000']}
{'model_name': 'Volkswagen Voyage', 'model_version': 'TRENDLINE', 'model_price': ['7.070.000']}
{'model_name': 'Volkswagen Up!', 'model_version': '5PTS MOVE', 'model_price': ['7.200.000']}
{'model_name': 'Ford Ka', 'model_version': '1.5 SEL', 'model_price': ['7.210.000']}
{'model_name': 'Renault Nuevo Sandero', 'model_version': '1.6 DYNAMIQUE', 'model_price': ['7.330.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5PTS SE (KD)', 'model_price': ['7.330.000']}
{'model_name': 'Peugeot 408', 'model_version': 'ALLURE 2.0 N c/ NAV', 'model_price': ['7.330.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.4 LS JOY', 'model_price': ['7.330.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LS JOY', 'model_price': ['7.290.000']}
{'model_name': 'Renault Sandero', 'model_version': 'STEPWAY PRIVILEGE', 'model_price': ['7.390.000']}
{'model_name': 'Volkswagen Gol', 'model_version': '1.6 5PTS TREND TRENDLINE', 'model_price': ['7.400.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LTZ', 'model_price': ['7.340.000']}
{'model_name': 'Ford Ka', 'model_version': '1.5 SEL', 'model_price': ['7.300.000']}
{'model_name': 'Changan Cs15', 'model_version': 'LUXURY DCT', 'model_price': ['7.390.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5P TITANIUM POWER SHIFT', 'model_price': ['7.220.000']}
{'model_name': 'Ford Ka', 'model_version': '1.5 S', 'model_price': ['7.600.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5P TITANIUM POWER SHIFT', 'model_price': ['7.550.000']}
{'model_name': 'Nissan March', 'model_version': 'ADVANCE MY14', 'model_price': ['7.400.000']}
{'model_name': 'Nissan Versa', 'model_version': '1.6 SENSE PURE DRIVE AUT', 'model_price': ['7.620.000']}
{'model_name': 'Citroen C 3', 'model_version': '1.6 VTI FEEL', 'model_price': ['7.600.000']}
{'model_name': 'Volkswagen Suran', 'model_version': '1.6 TRACK', 'model_price': ['7.500.000']}
{'model_name': 'Nissan Note', 'model_version': '1,6 SENSE PURE DRIVE', 'model_price': ['7.500.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LTZ', 'model_price': ['7.600.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'FWD LTZ', 'model_price': ['7.440.000']}
{'model_name': 'Fiat Uno', 'model_version': '1.3 5 PTS WAY', 'model_price': ['7.600.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LS JOY', 'model_price': ['7.400.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.4 JOY PLUS', 'model_price': ['7.450.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 4PTS X', 'model_price': ['7.710.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1,6 5PTS S (KD)', 'model_price': ['7.740.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1,6 5PTS S (KD)', 'model_price': ['7.710.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['7.720.000']}
{'model_name': 'Nissan Versa', 'model_version': 'SENSE', 'model_price': ['7.740.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.4 JOY PLUS', 'model_price': ['7.740.000']}
{'model_name': 'Volkswagen Suran', 'model_version': '1.6 COMFORTLINE L/15', 'model_price': ['7.740.000']}
{'model_name': 'Renault Sandero', 'model_version': 'PRIVILEGE 1.6 16V', 'model_price': ['7.710.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 4PTS XLS PACK 6MT', 'model_price': ['7.660.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LTZ A/T', 'model_price': ['7.690.000']}
{'model_name': 'Peugeot 208', 'model_version': 'ACTIVE', 'model_price': ['7.700.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5PTS SE (KD)', 'model_price': ['7.740.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['7.800.000']}
{'model_name': 'Volkswagen Voyage', 'model_version': 'TRENDLINE', 'model_price': ['7.760.000']}

{'model_name': 'Chevrolet Onix', 'model_version': '1.2 PLUS', 'model_price': ['7.900.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2 PLUS', 'model_price': ['7.800.000']}
{'model_name': 'Nissan Versa', 'model_version': '1.6 SENSE PURE DRIVE AUT', 'model_price': ['7.850.000']}
{'model_name': 'Chevrolet Spin', 'model_version': 'LT MANUAL', 'model_price': ['7.850.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.4 JOY PLUS', 'model_price': ['7.820.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LT', 'model_price': ['7.850.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LTZ', 'model_price': ['7.740.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5PTS SE (KD)', 'model_price': ['7.800.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1,4 LT', 'model_price': ['7.820.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['7.850.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['7.970.000']}
{'model_name': 'Volkswagen Polo', 'model_version': '1.6 COMFORTLINE 4 P', 'model_price': ['7.970.000']}
{'model_name': 'Volkswagen Voyage', 'model_version': 'TRENDLINE', 'model_price': ['7.940.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['7.970.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['8.080.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LT', 'model_price': ['7.900.000']}
{'model_name': 'Volkswagen Polo', 'model_version': '1.6 COMFORTLINE TIPTRONIC', 'model_price': ['8.020.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['7.970.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['7.970.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['7.970.000']}
{'model_name': 'Renault Sandero', 'model_version': 'PRIVILEGE 1.6 16V', 'model_price': ['7.970.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2 PLUS', 'model_price': ['7.900.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5PTS SE (KD)', 'model_price': ['8.130.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 4PTS X', 'model_price': ['8.140.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5PTS SE (KD)', 'model_price': ['8.140.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5PTS SE (KD)', 'model_price': ['8.140.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['8.080.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 4PTS X', 'model_price': ['8.140.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['8.080.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LTZ', 'model_price': ['8.100.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['8.080.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['8.100.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2 PLUS', 'model_price': ['8.100.000']}
{'model_name': 'Chevrolet Spin', 'model_version': 'LTZ MANUAL', 'model_price': ['8.140.000']}
{'model_name': 'Renault Sandero', 'model_version': 'STEPWAY PRIVILEGE', 'model_price': ['8.250.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 SE PLUS (KD)', 'model_price': ['8.300.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.330.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.3 MT', 'model_price': ['8.200.000']}
{'model_name': 'Ford Eco Sport', 'model_version': '1.5 S', 'model_price': ['8.250.000']}
{'model_name': 'Chevrolet Prisma', 'model_version': 'LTZ', 'model_price': ['8.400.000']}
{'model_name': 'Volkswagen Vento', 'model_version': '2.5 ADVANCE PLUS MT', 'model_price': ['8.300.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'FWD LTZ', 'model_price': ['8.330.000']}
{'model_name': 'Volkswagen Polo', 'model_version': '1.6 COMFORTLINE 5 P', 'model_price': ['8.190.000']}
{'model_name': 'Ford Focus', 'model_version': '2.0 5 PTS SE', 'model_price': ['8.300.000']}
{'model_name': 'Ford Focus', 'model_version': '2.0 5 PTS SE PLUS AUT.', 'model_price': ['8.240.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['8.420.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['8.480.000']}
{'model_name': 'Volkswagen Polo', 'model_version': '1.6 COMFORTLINE PLUS TIPT.', 'model_price': ['8.500.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.430.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.430.000']}
{'model_name': 'Volkswagen Polo', 'model_version': '1.6 COMFORTLINE 4 P', 'model_price': ['8.500.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.430.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.430.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.490.000']}
{'model_name': 'Peugeot 2008', 'model_version': '1.6 FELLINE', 'model_price': ['8.420.000']}
{'model_name': 'Renault Duster_', 'model_version': '1.6 PRIVILEGE 4X2', 'model_price': ['8.420.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.430.000']}
{'model_name': 'Volkswagen Gol', 'model_version': 'TREND 1.6 5 PTAS TRENDLINE', 'model_price': ['8.480.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.550.000']}
{'model_name': 'Volkswagen Polo', 'model_version': '1.6 COMFORTLINE 4 P', 'model_price': ['8.540.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.550.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.590.000']}
{'model_name': 'Fiat Argo', 'model_version': '1.8 HGT', 'model_price': ['8.540.000']}
{'model_name': 'Chevrolet Onix', 'model_version': '1.2 PLUS LT', 'model_price': ['8.540.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.540.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.540.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.540.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.550.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.590.000']}
{'model_name': 'Renault Captur', 'model_version': 'LIFE 1.6', 'model_price': ['8.500.000']}
{'model_name': 'Chery Tiggo 2', 'model_version': '1.5 COMFORT MT', 'model_price': ['8.650.000']}
{'model_name': 'Volkswagen Suran', 'model_version': '1.6 5P HIGHLINE I MOTION', 'model_price': ['8.600.000']}
{'model_name': 'Nissan Note', 'model_version': '1.6 EXCLUSIVE CVT PURE DRIVE', 'model_price': ['8.600.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.730.000']}
{'model_name': 'Volkswagen Saveiro', 'model_version': '1.6 C/DOBLE CROSS', 'model_price': ['8.690.000']}
{'model_name': 'Renault Duster_', 'model_version': '1,6 DINAMYQUE 4X2 L/2015', 'model_price': ['8.770.000']}
{'model_name': 'Volkswagen Virtus', 'model_version': '1.6 MSI COMFORTLINE', 'model_price': ['8.900.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5 PTS X', 'model_price': ['8.790.000']}
{'model_name': 'Ford Focus', 'model_version': '2.0 4 PTS SE PLUS AUT.', 'model_price': ['8.820.000']}
{'model_name': 'Renault Duster_', 'model_version': 'OROCH 2.0 DINAMIQUE', 'model_price': ['8.650.000']}
{'model_name': 'Peugeot 2008', 'model_version': '1.6 ALLURE', 'model_price': ['8.630.000']}
{'model_name': 'Ford Focus', 'model_version': 'L/16 2.0 5 PTS SE', 'model_price': ['8.800.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'FWD LTZ', 'model_price': ['9.100.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 5PTS XLS AUT.', 'model_price': ['9.100.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 SE POWERSHIFT 5PTS (KD)', 'model_price': ['9.000.000']}
{'model_name': 'Renault Duster_', 'model_version': '1,6 DINAMYQUE 4X2 L/2015', 'model_price': ['8.980.000']}

{'model_name': 'Toyota Etios', 'model_version': '1.5 4 PTS XLS 4AT', 'model_price': ['9.100.000']}
{'model_name': 'Ford Eco Sport', 'model_version': '1.5 FREESTYLE', 'model_price': ['9.000.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'FWD LTZ', 'model_price': ['9.120.000']}
{'model_name': 'Ford Focus', 'model_version': '1.6 5 PTS S L/16', 'model_price': ['9.000.000']}
{'model_name': 'Renault Duster_', 'model_version': '1.6 PRIVILEGE 4X2', 'model_price': ['9.240.000']}
{'model_name': 'Toyota Etios', 'model_version': '1.5 4 PTS XLS 4AT', 'model_price': ['9.200.000']}
{'model_name': 'Renault Duster_', 'model_version': 'OROCH 2.0 PRIVELEGE', 'model_price': ['9.000.000']}
{'model_name': 'Renault Duster_', 'model_version': '1,6 DINAMYQUE 4X2 L/2015', 'model_price': ['9.100.000']}
{'model_name': 'Ford Fiesta', 'model_version': '1.6 5 PTS SE PLUS POWER SHIFT KD', 'model_price': ['9.300.000']}
{'model_name': 'Ford Focus', 'model_version': '2.0 5 PTS SE PLUS', 'model_price': ['9.650.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1,4 LT', 'model_price': ['9.740.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1,4 LT', 'model_price': ['9.720.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'DRIVE GSE 1.3', 'model_price': ['9.660.000']}
{'model_name': 'Ford Focus', 'model_version': '1.6 S 4 PTS', 'model_price': ['9.570.000']}
{'model_name': 'Volkswagen Virtus', 'model_version': '1.6 MSI TRENDLINE AUT', 'model_price': ['9.310.000']}
{'model_name': 'Renault Duster_', 'model_version': '2,0 PRIVILEGE 4X2 L/2015', 'model_price': ['9.500.000']}
{'model_name': 'Peugeot 308', 'model_version': '1.6 ALLURE PACK', 'model_price': ['9.350.000']}
{'model_name': 'Renault Captur', 'model_version': 'ZEN 2.0', 'model_price': ['9.350.000']}
{'model_name': 'Fiat Cronos', 'model_version': '1.8 STYLE', 'model_price': ['9.700.000']}
{'model_name': 'Renault Duster_', 'model_version': '2,0 PRIVILEGE 4X2 L/2015', 'model_price': ['9.680.000']}
{'model_name': 'Renault Kangoo 2', 'model_version': '1.5 DCI EX. CONFORT', 'model_price': ['9.740.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'FWD LTZ', 'model_price': ['9.800.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1,4 LT', 'model_price': ['9.750.000']}
{'model_name': 'Peugeot 308', 'model_version': '1.6 ALLURE PACK', 'model_price': ['9.830.000']}
{'model_name': 'Volkswagen Polo', 'model_version': '1.6 TRENDLINE TIPT.', 'model_price': ['9.900.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 LTZ+AT', 'model_price': ['10.100.000']}
{'model_name': 'Ford Focus', 'model_version': '2.0 4 PTS SE AUT', 'model_price': ['9.770.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 LT', 'model_price': ['9.750.000']}
{'model_name': 'Renault Captur', 'model_version': 'INTENS 2.0', 'model_price': ['9.990.000']}
{'model_name': 'Renault Duster_', 'model_version': 'OROCH 2.0 DINAMIQUE', 'model_price': ['10.050.000']}
{'model_name': 'Fiat Cronos', 'model_version': 'PRECISION 1.8 PACK PREMIUM', 'model_price': ['9.760.000']}
{'model_name': 'Renault Captur', 'model_version': 'ZEN 2.0', 'model_price': ['9.800.000']}
{'model_name': 'Honda Fit', 'model_version': 'EXL 1.5 CVT 5P', 'model_price': ['10.200.000']}
{'model_name': 'Peugeot 308', 'model_version': '1.6 HDI ALLURE PACK', 'model_price': ['10.270.000']}
{'model_name': 'Ford Eco Sport', 'model_version': '1.5 SE', 'model_price': ['10.200.000']}
{'model_name': 'Renault Duster_', 'model_version': 'OROCH 2.0 OUTSIDER PLUS', 'model_price': ['10.360.000']}
{'model_name': 'Chrysler Jeep Renegade', 'model_version': '1.8 4X2 SPORT', 'model_price': ['10.500.000']}
{'model_name': 'Nissan Sentra', 'model_version': '1.8 SR CVT', 'model_price': ['10.270.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'AWD LTZ + AT', 'model_price': ['10.300.000']}
{'model_name': 'Renault Captur', 'model_version': 'ZEN 2.0', 'model_price': ['10.160.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': '1.8 LTZ+ AWD PREMIER', 'model_price': ['10.400.000']}
{'model_name': 'Fiat Toro', 'model_version': '2.0TDI FREEDOM 4X4', 'model_price': ['10.270.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'AWD LTZ + AT', 'model_price': ['10.220.000']}
{'model_name': 'Chevrolet Tracker', 'model_version': 'AWD LTZ + AT', 'model_price': ['10.430.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 LT', 'model_price': ['10.760.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '5P 1,4 LT', 'model_price': ['11.150.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '4P 1.4 LT', 'model_price': ['11.040.000']}
{'model_name': 'Chrysler Jeep Renegade', 'model_version': '1.8 SPORT PLUS 4X2 AT', 'model_price': ['11.280.000']}
{'model_name': 'Volkswagen Golf', 'model_version': '1.4L TSI BLUEMOTION TECHNOLOGY', 'model_price': ['11.040.000']}
{'model_name': 'Citroen Berlingo', 'model_version': 'FURGON 1.6 HDI BUSINESS', 'model_price': ['11.150.000']}
{'model_name': 'Chrysler Jeep Renegade', 'model_version': '1.8 SPORT PLUS 4X2 AT', 'model_price': ['10.900.000']}
{'model_name': 'Citroen Berlingo', 'model_version': 'FURGON 1.6 BUSINESS', 'model_price': ['11.150.000']}
{'model_name': 'Fiat Argo', 'model_version': 'DRIVE GSE 1.3 5P', 'model_price': ['10.890.000']}
{'model_name': 'Ford Ranger', 'model_version': 'XL 2.2 TDI CAB. S. SAFETY', 'model_price': ['11.150.000']}
{'model_name': 'Volkswagen T-Cross', 'model_version': '1.6 TRENDLINE', 'model_price': ['10.870.000']}
{'model_name': 'Chery Tiggo 4', 'model_version': '2.0 COMFORT CVT', 'model_price': ['10.590.000']}
{'model_name': 'Chrysler Jeep Compass', 'model_version': '2.4 SPORT 4X2 MT6', 'model_price': ['12.590.000']}
{'model_name': 'Fiat Pulse', 'model_version': '1.3 DRIVE', 'model_price': ['11.590.000']}
{'model_name': 'Fiat Toro', 'model_version': '2.0TDI FREEDOM 4X4 AT.', 'model_price': ['12.360.000']}
{'model_name': 'Fiat Strada', 'model_version': '1.4 FIRE ENDURANCE CD', 'model_price': ['11.800.000']}
{'model_name': 'Volkswagen Golf', 'model_version': '1.4 TSI COMFORTLINE DSG', 'model_price': ['12.100.000']}
{'model_name': 'Toyota Corolla', 'model_version': '1.8 SEG CVT', 'model_price': ['11.500.000']}
{'model_name': 'Fiat Toro', 'model_version': 'VOLCANO 2.0 C/D 4X4 AUT.', 'model_price': ['12.700.000']}
{'model_name': 'Fiat Pulse', 'model_version': '1.3 DRIVE CVT', 'model_price': ['12.250.000']}
{'model_name': 'Chevrolet Cruze', 'model_version': '1.4T 4P LT AT', 'model_price': ['12.590.000']}
{'model_name': 'Fiat Toro', 'model_version': '2.0TDI FREEDOM 4X4 AT.', 'model_price': ['12.140.000']}
{'model_name': 'Honda Civic', 'model_version': 'EXL 2.0', 'model_price': ['11.550.000']}
{'model_name': 'Volkswagen Golf', 'model_version': '1.4 TSI COMFORTLINE DSG', 'model_price': ['12.580.000']}
{'model_name': 'Renault Kangoo', 'model_version': '1.5 DCI STEPWAY', 'model_price': ['12.800.000']}
{'model_name': 'Volkswagen T-Cross', 'model_version': '1.6 COMFORTLINE AT 6', 'model_price': ['13.990.000']}
{'model_name': 'Volkswagen Amarok', 'model_version': '2.0 TD DC TRENDLINE 140HP 4X2', 'model_price': ['13.490.000']}
{'model_name': 'Renault Kangoo', 'model_version': '1.5 DCI STEPWAY', 'model_price': ['12.800.000']}
{'model_name': 'Volkswagen T-Cross', 'model_version': '1.6 COMFORTLINE AT 6', 'model_price': ['12.900.000']}
{'model_name': 'Renault Oroch', 'model_version': 'ICONIC 1.3 TCE 163 2WD CVT', 'model_price': ['13.550.000']}
{'model_name': 'Renault Kangoo', 'model_version': '1.5 DCI STEPWAY', 'model_price': ['12.800.000']}
{'model_name': 'Renault Kangoo', 'model_version': '1.5 DCI STEPWAY', 'model_price': ['12.800.000']}
{'model_name': 'Renault Kangoo', 'model_version': '1.6 SCE STEPWAY', 'model_price': ['13.200.000']}
{'model_name': 'Nissan Sentra', 'model_version': 'ADVANCE', 'model_price': ['14.000.000']}
{'model_name': 'Renault Oroch', 'model_version': 'EMOTION 1.6 SCE 114 2WD', 'model_price': ['13.800.000']}
{'model_name': 'Fiat Strada', 'model_version': '1.3 FIRE FLY VOLCANO CD', 'model_price': ['12.800.000']}
{'model_name': 'Volkswagen Amarok', 'model_version': 'CAB.DOB. 2.0 TDI HIGHLINE 4X4', 'model_price': ['17.250.000']}
{'model_name': 'Toyota Corolla', 'model_version': '2.0 XLI CVT', 'model_price': ['14.150.000']}

{'model_name': 'Chrysler Jeep Compass', 'model_version': '2.4 SPORT 4X2 MT6', 'model_price': ['16.760.000']}
{'model_name': 'Volkswagen Nivus', 'model_version': '200 TSI HIGLINE AT HERO', 'model_price': ['14.600.000']}
{'model_name': 'Volkswagen Amarok', 'model_version': '2.0 TDI 4X2 DC COMF.', 'model_price': ['14.250.000']}
{'model_name': 'Chrysler Jeep Renegade', 'model_version': '1.8 SPORT 4X2 AT', 'model_price': ['14.340.000']}
{'model_name': 'Toyota Corolla', 'model_version': '2.0 XLI CVT', 'model_price': ['14.350.000']}
{'model_name': 'Toyota Corolla', 'model_version': '2.0 XLI CVT', 'model_price': ['14.400.000']}
{'model_name': 'Toyota Corolla', 'model_version': '1.8 XEI HYBRID CVT', 'model_price': ['16.650.000']}
{'model_name': 'Ford Ranger', 'model_version': 'XL 2,2 TDI DC 4X2', 'model_price': ['15.550.000']}
{'model_name': 'Toyota Corolla', 'model_version': '2.0 XLI CVT', 'model_price': ['14.000.000']}
{'model_name': 'Nissan Sentra', 'model_version': '2.0 ADVANCE CVT', 'model_price': ['14.200.000']}
{'model_name': 'Chrysler Jeep Renegade', 'model_version': '1.3T TRAILHAWK AT 4X4', 'model_price': ['26.000.000']}
{'model_name': 'Volkswagen Amarok', 'model_version': '3.0 TD 4X4 DC V6 AT COMFORL.', 'model_price': ['17.600.000']}
{'model_name': 'Ford Territory', 'model_version': '1.5 TITANIUM', 'model_price': ['22.870.000']}
{'model_name': 'Chrysler Jeep Compass', 'model_version': '2.4 SPORT AUTOM.', 'model_price': ['17.500.000']}
{'model_name': 'Audi Q5', 'model_version': '3.0 TFSI QUATTRO', 'model_price': ['32.600.000']}
{'model_name': 'Volkswagen Amarok', 'model_version': '3.0 TD 4X4 DC BLACK STYLE V6 258CV', 'model_price': ['24.000.000']}
{'model_name': 'Chevrolet ', 'model_version': '', 'model_price': ['17.850.000']}
{'model_name': 'Toyota Hilux', 'model_version': '2.4 TDI 4X2 D/CAB DX', 'model_price': ['17.400.000']}
{'model_name': 'Ford Bronco', 'model_version': '1.5T SPORT BIG BEND', 'model_price': ['24.650.000']}

In [48]:
df_usados_models_description = pd.DataFrame(usados_models_description)
df_usados_models_description['type'] = "usado"
df_usados_models_description

,Model,Version,Price,type
0,Volkswagen Fox,"1,6 COMFORTLINE 5PTS",5.250.000,usado
1,Volkswagen Gol,TREND 1.6 3 Pts,[5.650.000],usado
2,Chery Qq,5 PTS CONFORT,3.950.000,usado
3,Lifan X50,1.5,4.390.000,usado
4,Volkswagen Up!,3PTS HIGH,4.490.000,usado
...,...,...,...,...
268,Audi Q5,3.0 TFSI QUATTRO,32.600.000,usado
269,Volkswagen Amarok,3.0 TD 4X4 DC BLACK STYLE V6 258CV,[24.000.000],usado
270,Chevrolet,,17.850.000,usado
271,Toyota Hilux,2.4 TDI 4X2 D/CAB DX,17.400.000,usado
272,Ford Bronco,1.5T SPORT BIG BEND,24.650.000,usado

In [49]:
df_all_model_description = pd.concat([df_okm_models_description, df_usados_models_description], ignore_index=True)
# df_all_model_description[df_all_model_description['type'] == '0km']
df_all_model_description

,Model,Version,Price,type
0,Renault Alaskan,Emotion Mt 4x2,Nan,0km
1,Renault Alaskan,NUEVA SERIE LIMITADA Outsider,Nan,0km
2,Renault Alaskan,Confort Mt 4x2,Nan,0km
3,Renault Alaskan,Iconic At 4x4,Nan,0km
4,Renault Alaskan,Intens Mt 4x4,Nan,0km
...,...,...,...,...
495,Audi Q5,3.0 TFSI QUATTRO,32.600.000,usado
496,Volkswagen Amarok,3.0 TD 4X4 DC BLACK STYLE V6 258CV,[24.000.000],usado
497,Chevrolet,,17.850.000,usado
498,Toyota Hilux,2.4 TDI 4X2 D/CAB DX,17.400.000,usado
499,Ford Bronco,1.5T SPORT BIG BEND,24.650.000,usado

In [51]:
# df_all_models_cars = pd.merge(df_model_links, df_all_model_description, on="type", how="inner")
# df_all_models_cars